body {
  font-family: Arial, sans-serif;
  margin: 50px;
  text-align: center;
  background: rgb(130, 178, 242);
}

select {
  padding: 10px;
  font-size: 16px;
}

#temperature {
  margin-top: 20px;
  font-size: 24px;
  color: #034b1f;
}
.heading {
  color: rgb(2, 84, 107);
}
